@model AboutVM
@{
    ViewData["Title"] = "About";
}

@section Link{

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

    <link rel="stylesheet" href="~/assets/css/about/about.css">
}

<main>
    @foreach (var header in Model.Headers)
    {
        @if (header.Title == "About")
        {
            <section id="header-area" style="background-image: url(assets/images/Header/@header.Image)">
                <div class="container">
                    <div class="row">
                        <div class="head">
                            <h1>@header.Title</h1>
                        </div>
                    </div>
                </div>
            </section>
        }
    }

    <section id="about-area">
        <div class="container">
            <div class="row">
                @foreach (var about in Model.Abouts)
                {
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="about-header">
                            <h3>@Html.Raw(about.Title)</h3>
                        </div>
                        <div class="about-content">
                            <p>
                                @Html.Raw(about.Description)
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="image">
                            <div class="about-image1">
                                <div class="how-img">
                                    <img src="~/assets/images/about/@about.Image" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </section>
</main>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/706af225b1.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/about.js"></script>
}



