* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url(../../fonts/Prata-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(../../fonts/RussoOne-Regular.ttf);
}

@font-face {
    font-family: font3;
    src: url(../../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: font4;
    src: url(../../fonts/Chonburi-Regular.ttf);
}

@font-face {
    font-family: font5;
    src: url(../../fonts/Suranna-Regular.ttf);
}

@font-face {
    font-family: font6;
    src: url(../../fonts/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: font7;
    src: url(../../fonts/CrimsonText-Bold.ttf);
}

@font-face {
    font-family: font8;
    src: url(../../fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: font9;
    src: url(../../fonts/RussoOne-Regular.ttf);
}

@font-face {
    font-family: font10;
    src: url(../../fonts/Vidaloka-Regular.ttf);
}

#navbar-area {
    background-color: #505668;

    .logo {
        margin-right: 20px;

        img {
            width: 120px;
            height: 70px;
            border-radius: 5px;
        }

    }

    .my-toggleer {
        border-color: white !important;
        color: white !important;
    }


    .nav-center {

        li {
            margin-left: 20px;
            font-size: 19px;


            a {
                color: wheat;
                transition: .5s;
                font-family: font2;
                position: relative;


            }

            a::after {
                content: "";
                position: absolute;
                bottom: 7px;
                background: #C05850;
                transition: .5s;
                width: 0;
                height: 3px;
                left: 50%;
                transition: all 0.5s;
            }

            a:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }

    .search {
        display: flex;


        .input {
            padding: 0 8px 0 25px;
            width: 170px;
            min-width: 3em;
            flex-grow: 1;
            height: 37px;
            border: 3px solid wheat;
            border-right: none;
            outline: none;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            font-family: font6;
        }

        .my-btn {

            width: 55px;
            height: 37px;
            border: 3px solid wheat;
            padding: 0.375em 0.625em;
            background: whitesmoke;
            border-left: none;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;

            .search-icon {
                padding-bottom: 3px;
                color: #505668;
                fill: currentColor;
                vertical-align: text-bottom;

            }
        }
    }



    .basket {
        cursor: pointer;

        i {
            font-size: 25px;
            color: wheat;
            margin-top: 10px;
            transition: .5s;

            &:hover {
                color: #C05850;
                transition: .5s;
            }

            sup {
                padding: 4px 6px;
                color: #505668;
                background: wheat;
                border-radius: 50%;
                font-size: small;
                top: -20px;
                right: 5px;
                transition: .5s;

                &:hover {
                    background: #C05850;
                    transition: .5s;
                }
            }
        }
    }

    .heart {
        cursor: pointer;

        i {
            font-size: 25px;

            color: wheat;
            margin-top: 10px;
            margin-left: 10px;
            transition: .5s;

            &:hover {
                color: #C05850;
                transition: .5s;
            }


            sup {
                padding: 4px 5px;
                color: #505668;
                background: wheat;
                border-radius: 50%;
                font-size: small;
                top: -20px;
                right: 5px;
                transition: .5s;

                &:hover {
                    background: #C05850;
                    transition: .5s;
                }
            }
        }


    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;

        .drop-content {
            width: 114px !important;
        }

        &:hover {
            .dropdown-content {
                display: block;
            }

        }

        .dropbtn {
            width: 114px;
            color: #505668;
            padding: 5px;
            font-size: 15px;
            height: 37px;
            cursor: pointer;
            border-radius: 3px;
            border: 3px solid wheat;
            background-color: whitesmoke;
            font-family: font6;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: whitesmoke;
            min-width: 100px;
            border-radius: 3px;
            z-index: 2;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


            a {
                color: #505668;
                padding: 10px 22px;
                border-radius: 5px;
                text-decoration: none;
                font-family: font6;
                display: block;
                transition: .3s;

                &:hover {
                    background-color: #505668;
                    color: wheat;
                    font-size: 17px;
                }
            }
        }
    }


}

#scroll-section {
    background-color: #505668;
    z-index: 5;
    transition: 0.7s;
    position: fixed;
    width: 100%;
    display: block;

    .inActive {
        display: none;
    }

    .logo {
        margin-right: 20px;

        img {
            width: 120px;
            height: 70px;
            border-radius: 5px;
        }

    }

    .my-toggleer {
        border-color: white !important;
        color: white !important;
    }


    .nav-center {

        li {
            margin-left: 20px;
            font-size: 19px;

            a {
                color: wheat;
                transition: .5s;
                font-family: font2;
                position: relative;

            }

            a::after {
                content: "";
                position: absolute;
                bottom: 7px;
                background: #C05850;
                transition: .5s;
                width: 0;
                height: 3px;
                left: 50%;
                transition: all 0.5s;
            }

            a:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }

    .search {
        display: flex;

        .input {
            padding: 0 8px 0 25px;
            width: 170px;
            min-width: 3em;
            flex-grow: 1;
            height: 37px;
            border: 3px solid wheat;
            border-right: none;
            font-family: font6;
            outline: none;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;

        }

        .my-btn {

            width: 55px;
            height: 37px;
            border: 3px solid wheat;
            padding: 0.375em 0.625em;
            background: whitesmoke;
            border-left: none;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;

            .search-icon {
                padding-bottom: 3px;
                color: #505668;
                fill: currentColor;
                vertical-align: text-bottom;

            }
        }
    }



    .basket {
        cursor: pointer;

        i {
            font-size: 25px;
            color: wheat;
            margin-top: 10px;
            transition: .5s;

            &:hover {
                color: #C05850;
                transition: .5s;
            }

            sup {
                padding: 4px 6px;
                color: #505668;
                background: wheat;
                border-radius: 50%;
                font-size: small;
                top: -20px;
                right: 5px;
                transition: .5s;

                &:hover {
                    background: #C05850;
                    transition: .5s;
                }
            }
        }
    }

    .heart {
        cursor: pointer;

        i {
            font-size: 25px;

            color: wheat;
            margin-top: 10px;
            margin-left: 10px;
            transition: .5s;

            &:hover {
                color: #C05850;
                transition: .5s;
            }


            sup {
                padding: 4px 5px;
                color: #505668;
                background: wheat;
                border-radius: 50%;
                font-size: small;
                top: -20px;
                right: 5px;
                transition: .5s;

                &:hover {
                    background: #C05850;
                    transition: .5s;
                }
            }
        }


    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;

        .drop-content {
            width: 114px !important;
        }

        &:hover {
            .dropdown-content {
                display: block;
            }

        }

        .dropbtn {
            width: 114px;
            color: #505668;
            padding: 5px;
            font-size: 15px;
            height: 37px;
            cursor: pointer;
            border-radius: 3px;
            border: 3px solid wheat;
            background-color: whitesmoke;
            font-family: font6;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: whitesmoke;
            min-width: 100px;
            border-radius: 3px;
            z-index: 2;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


            a {
                color: #505668;
                padding: 10px 22px;
                border-radius: 5px;
                text-decoration: none;
                font-family: font6;
                display: block;
                transition: .3s;

                &:hover {
                    background-color: #505668;
                    color: wheat;
                    font-size: 17px;
                }
            }
        }
    }
}

@media(max-width:1496px) {
    #scroll-section {
        display: none;
    }
}

@media (max-width:1400px) {
    #navbar-area {

        .search {
            .input {
                width: 120px !important;
            }
        }
    }

}

@media (max-width: 1200px) {
    #navbar-area {
        li {
            font-size: 20px !important;
            margin-left: 10px !important;
        }


        .search {
            .input {
                width: 110px !important;
                height: 30px !important;
            }

            .my-btn {
                width: 45px !important;
                height: 30px !important;

                .search-icon {
                    padding-bottom: 8px !important;
                }

            }
        }

        .dropbtn {
            width: 110px !important;
            height: 30px !important;
            padding-top: 2px !important;
        }

        .basket,
        .heart {
            i {
                font-size: 22px !important;
            }
        }

        .logo {
            margin-right: 0 !important;

            img {
                width: 100px !important;
                height: 60px;
            }

        }


    }
}

@media (max-width: 992px) {
    #navbar-area {
        .dropdown {
            .dropbtn {

                margin-top: 20px !important;
                margin-left: -10px !important;
            }

        }

        .search {
            width: 200px !important;

            .input {
                margin-left: 10px;
            }
        }

        .basket {
            margin-top: 15px;
            margin-left: 10px;

        }

        .heart {
            margin-top: 15px;
        }


    }


}

#header-area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 80px;

    .head {
        height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            position: absolute;
            font-size: 50px;
            color: white;
            letter-spacing: 8px;
            font-family: font4;
        }
    }

}

#blog-area {
  
    padding-bottom: 50px;
  
    .blog {
        width: 100%;
        padding-bottom: 60px;
        position: relative;
     

        .image {
            overflow: hidden;
         
            img {
                width: 100%;
                height: 100%;
                transition: .7s;
                vertical-align: middle;
                border-style: none;


                &:hover {
                    transform: scale(1.1);
                    transition: .7s;
                }
            }
        }



        .createDate {
            position: absolute;
            top: 15px;
            left: 10px;
            width: 80px;
            height: 70px;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: rgba(255, 255, 255, 0.9);

            .day {
                font-family: font1;
                font-size: 18px;
                line-height: 1.3;
                color: #505668;
                text-align: center;
            }
        }

        .img-content {
            padding-top: 32px;

            .blog-name {
                font-family: font7;
                padding-bottom: 15px;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.1;



                a {
                    font-size: 30px;
                    line-height: 1.3846;
                    color: #505668;
                    text-decoration: none;
                    transition: .5s;

                    &:hover {
                        color: #C05850;
                        transition: .5s;
                    }
                }

            }

            .blog-about {
                font-family: font6;
                font-size: 17px;
                line-height: 1.666667;
                color: #888;
                margin-bottom: 20px;
                
            }


            .tag {
                align-items: flex-start;
                display: flex;

                .head {
                    width: 55px;
                    font-size: 18px;
                    line-height: 1.2;
                    color: #505668;
                    padding-top: 4px;
                    font-family: font7;
                }

                .tag-name {
                    flex-wrap: wrap;
                    width: calc(100% - 55px);



                    a {
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        min-height: 30px;
                        font-size: 13px;
                        line-height: 1.9;
                        color: #888;
                        text-decoration: none;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        padding: 5px 15px 5px 15px;
                        font-family: font1;
                        transition: .5s;

                        &:hover {
                            color: #C05850;
                            border-color: #C05850;
                            transition: .5s;

                        }

                    }
                }
            }


            .comment-area {
                padding-top: 40px;

                h5 {
                    font-size: 22px;
                    line-height: 1.3;
                    text-transform: uppercase;
                    color: #505668;
                    font-family: font7;
                }

                p {
                    font-family: font6;
                    font-size: 15px;
                    color: #888;
                    font-weight: lighter;
                }

                .text {
                    border: 1px solid #d9d9d9;
                    border-radius: 2px;
                    margin-bottom: 20px;

                    .text-area {
                        width: 100%;
                        font-size: 13px;
                        line-height: 1.7;
                        padding: 15px 18px;
                        color: #333;
                        border: none;
                        display: block;
                        outline: none;
                        overflow: auto;
                        resize: none;
                        font-family: font6;
                    }
                }

                .input-area {
                    display: flex;
                    justify-content: space-between;

                    .input {
                        border: 1px solid #d9d9d9;
                        border-radius: 2px;
                        width: 400px;
                        margin-bottom: 20px;
                        display: inline-block;

                        input {
                            width: 100%;
                            height: 50px;
                            font-size: 13px;
                            line-height: 1.7;
                            color: #333;
                            padding-left: 18px;
                            padding-right: 18px;
                            font-family: font6;
                            display: block;
                            outline: none;
                            border: none;
                            overflow: visible;
                        }
                    }
                }

                .my-btn {
                    display: block;
                    border-radius: 20px;
                    background: #505668;
                    border: none;
                    width: 150px;
                    height: 40px;
                    font-size: 15px;
                    line-height: 1.5;
                    text-transform: uppercase;
                    color: wheat;
                    background: #505668;
                    transition: .5s;
                    font-family: font7;
        
                    &:hover {
                        background: black;
                        color: #C05850;
                        transition: .5s;
                    }
        
                }


                h3{   
                    margin-top: 30px;
                    font-size: 22px;
                    color: #505668;
                    font-family: font6;
                }

                .comment-description{
                    margin-top: 10px;
                    padding: 20px;
                    border: 1px solid #d9d9d9;
                    border-radius: 2px;
                    p {
                        margin-top: 15px;
                        font-family: font6;
                        font-size: 14px;
                        color: #676666;
                    }
                    .author{
                       
                        span{
                            margin-right: 15px;
                            font-family: font6;
                        }

                    }
                }
            }


            
         


        }
    }


    .all-filter {
        padding-right: 40px;
        padding-left: 40px;

        .category {

            .head {
                font-family: font2;
                font-size: 22px;
                line-height: 1.333333;
                letter-spacing: 1px;
                color: #333;
                padding-bottom: 33px;
            }

            ul {
                list-style-type: none;
                padding-left: 0px;

                .cat-item {
                    border-top: 1px solid #e6e6e6;
                    list-style-type: none;

                    a {
                        font-family: font1;
                        font-size: 15px;
                        line-height: 1.666667;
                        color: #505668;
                        display: block;
                        text-decoration: none;
                        padding: 8px 4px 8px 4px;
                        transition: .3s;

                        &:hover {
                            color: #C05850;
                            transition: .3s;
                        }
                    }
                }
            }

        }

        .recent-post {
            padding-top: 65px;

            .head {
                font-family: font2;
                font-size: 22px;
                line-height: 1.333333;
                letter-spacing: 1px;
                color: #333;
                padding-bottom: 33px;
            }

            ul {
                list-style-type: none;
                padding-left: 0px;

                .blog {
                    align-items: flex-start;
                    display: flex;
                    padding-bottom: 30px;
                    list-style-type: none;

                    .image {
                        position: relative;
                        width: 90px;
                        height: 70px;
                        margin-right: 20px;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .image-content {
                        width: 160px;
                        height: 85px;
                        flex-direction: column;
                        justify-content: flex-start;

                        .blog-name {
                            font-family: font9;
                            text-decoration: none;
                            display: inline-block;
                            letter-spacing: 1px;
                            color: #505668;
                            font-size: 12px;
                            margin-bottom: 5px;
                            line-height: 1.266667;
                            transition: .3s;

                            &:hover {
                                color: #C05850;
                                transition: .3s;
                            }
                        }

                        .create-date {
                            font-family: font6;
                            font-size: 15px;
                            letter-spacing: 1px;
                            line-height: 1.266667;
                            color: #888;
                            transition: .3s;

                            &:hover {
                                color: #C05850;
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }


        .tag-area {
            padding-top: 50px;

            .head {
                font-family: font2;
                font-size: 22px;
                line-height: 1.333333;
                letter-spacing: 1px;
                color: #333;
                padding-bottom: 25px;
            }

            .all-tag {
                .tag {
                    font-family: font7;
                    border: 1px solid #505668;
                    text-decoration: none;
                    border-radius: 10px;
                    line-height: 3;
                    color: #888;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px 5px 15px;
                    margin-right: 5px;
                    transition: .3s;

                    &:hover {
                        color: #C05850;
                        border-color: #C05850;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .input-area {
        // display: flex;
        // justify-content: space-between;

        .input {
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            width: 300px !important;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
}
@media screen and (max-width: 992px) {
    .input-area {
        display:block !important;
    }
}


#footer-area {
    background-color: #393e4c;
    padding: 90px;

    .info {
        $background-color_1:#C05850;

        .w3rcontainer {
            border: 1px solid #cccfdb;
            border-radius: 2px;
        }

        h6 {
            display: inline-block;
            position: relative;
            color: wheat;
            letter-spacing: 2px;
            font-family: font7;
            border: none;
            font-size: 20px;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -3px;
                left: 0;
                background-color: $background-color_1;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover {
                &:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }


        }

        span {
            color: grey;
            display: block;
            font-family: font1;
        }

        ul {
            padding-left: 0;
            line-height: 35px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: font1;
                    transition: 0.3s;
                    color: grey;

                    &:hover {
                        color: #C05850;
                    }
                }

            }
        }

        .social-area {
            margin-top: 20px;
            display: flex;
            gap: 15px;

            .social {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: wheat;
                transition: .5s;

                i {
                    font-size: 20px;
                    color: #505668;
                    transition: .5s;
                }

                &:hover {
                    background-color: #C05850;
                    transition: .5s;

                    i {
                        color: whitesmoke;
                        transition: .5s;

                    }
                }


            }
        }

        img {
            width: 70px;
            height: 67px;
            display: block;
        }

        .contact {
            a {
                margin-top: 25px;
                color: grey;
                display: block;
                text-decoration: none;
                transition: .5s;
                font-family: font1;

                &:hover {
                    color: #C05850;
                    transition: .5s;
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: white;
        margin: 20px 0;
    }

    .copyright {
        color: grey;
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            font-family: font1;
        }
    }
}

@media(max-width: 1150px) {
    #footer {
        width: 100%;
    }

}

@media(max-width: 768px) {
    .social {
        margin-bottom: 20px;
    }

}