* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: font1;
  src: url(../../fonts/Prata-Regular.ttf);
}
@font-face {
  font-family: font2;
  src: url(../../fonts/RussoOne-Regular.ttf);
}
@font-face {
  font-family: font3;
  src: url(../../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: font4;
  src: url(../../fonts/Chonburi-Regular.ttf);
}
@font-face {
  font-family: font5;
  src: url(../../fonts/Suranna-Regular.ttf);
}
@font-face {
  font-family: font6;
  src: url(../../fonts/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}
@font-face {
  font-family: font7;
  src: url(../../fonts/CrimsonText-Bold.ttf);
}
@font-face {
  font-family: font8;
  src: url(../../fonts/FugazOne-Regular.ttf);
}
@font-face {
  font-family: font9;
  src: url(../../fonts/RussoOne-Regular.ttf);
}
@font-face {
  font-family: font10;
  src: url(../../fonts/Vidaloka-Regular.ttf);
}
#navbar-area {
  background-color: #505668;
}
#navbar-area .logo {
  margin-right: 20px;
}
#navbar-area .logo img {
  width: 120px;
  height: 70px;
  border-radius: 5px;
}
#navbar-area .my-toggleer {
  border-color: white !important;
  color: white !important;
}
#navbar-area .nav-center li {
  margin-left: 20px;
  font-size: 19px;
}
#navbar-area .nav-center li a {
  color: wheat;
  transition: 0.5s;
  font-family: font2;
  position: relative;
}
#navbar-area .nav-center li a::after {
  content: "";
  position: absolute;
  bottom: 7px;
  background: #C05850;
  transition: 0.5s;
  width: 0;
  height: 3px;
  left: 50%;
  transition: all 0.5s;
}
#navbar-area .nav-center li a:hover::after {
  width: 100%;
  left: 0;
}
#navbar-area .search {
  display: flex;
}
#navbar-area .search .input {
  padding: 0 8px 0 25px;
  width: 170px;
  min-width: 3em;
  flex-grow: 1;
  height: 37px;
  border: 3px solid wheat;
  border-right: none;
  outline: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-family: font6;
}
#navbar-area .search .my-btn {
  width: 55px;
  height: 37px;
  border: 3px solid wheat;
  padding: 0.375em 0.625em;
  background: whitesmoke;
  border-left: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#navbar-area .search .my-btn .search-icon {
  padding-bottom: 3px;
  color: #505668;
  fill: currentColor;
  vertical-align: text-bottom;
}
#navbar-area .basket {
  cursor: pointer;
}
#navbar-area .basket i {
  font-size: 25px;
  color: wheat;
  margin-top: 10px;
  transition: 0.5s;
}
#navbar-area .basket i:hover {
  color: #C05850;
  transition: 0.5s;
}
#navbar-area .basket i sup {
  padding: 4px 6px;
  color: #505668;
  background: wheat;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
  transition: 0.5s;
}
#navbar-area .basket i sup:hover {
  background: #C05850;
  transition: 0.5s;
}
#navbar-area .heart {
  cursor: pointer;
}
#navbar-area .heart i {
  font-size: 25px;
  color: wheat;
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.5s;
}
#navbar-area .heart i:hover {
  color: #C05850;
  transition: 0.5s;
}
#navbar-area .heart i sup {
  padding: 4px 5px;
  color: #505668;
  background: wheat;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
  transition: 0.5s;
}
#navbar-area .heart i sup:hover {
  background: #C05850;
  transition: 0.5s;
}
#navbar-area .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
#navbar-area .dropdown .drop-content {
  width: 114px !important;
}
#navbar-area .dropdown:hover .dropdown-content {
  display: block;
}
#navbar-area .dropdown .dropbtn {
  width: 114px;
  color: #505668;
  padding: 5px;
  font-size: 15px;
  height: 37px;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid wheat;
  background-color: whitesmoke;
  font-family: font6;
}
#navbar-area .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 100px;
  border-radius: 3px;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#navbar-area .dropdown .dropdown-content a {
  color: #505668;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  font-family: font6;
  display: block;
  transition: 0.3s;
}
#navbar-area .dropdown .dropdown-content a:hover {
  background-color: #505668;
  color: wheat;
  font-size: 17px;
}

#scroll-section {
  background-color: #505668;
  z-index: 5;
  transition: 0.7s;
  position: fixed;
  width: 100%;
  display: block;
}
#scroll-section .inActive {
  display: none;
}
#scroll-section .logo {
  margin-right: 20px;
}
#scroll-section .logo img {
  width: 120px;
  height: 70px;
  border-radius: 5px;
}
#scroll-section .my-toggleer {
  border-color: white !important;
  color: white !important;
}
#scroll-section .nav-center li {
  margin-left: 20px;
  font-size: 19px;
}
#scroll-section .nav-center li a {
  color: wheat;
  transition: 0.5s;
  font-family: font2;
  position: relative;
}
#scroll-section .nav-center li a::after {
  content: "";
  position: absolute;
  bottom: 7px;
  background: #C05850;
  transition: 0.5s;
  width: 0;
  height: 3px;
  left: 50%;
  transition: all 0.5s;
}
#scroll-section .nav-center li a:hover::after {
  width: 100%;
  left: 0;
}
#scroll-section .search {
  display: flex;
}
#scroll-section .search .input {
  padding: 0 8px 0 25px;
  width: 170px;
  min-width: 3em;
  flex-grow: 1;
  height: 37px;
  border: 3px solid wheat;
  border-right: none;
  font-family: font6;
  outline: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#scroll-section .search .my-btn {
  width: 55px;
  height: 37px;
  border: 3px solid wheat;
  padding: 0.375em 0.625em;
  background: whitesmoke;
  border-left: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#scroll-section .search .my-btn .search-icon {
  padding-bottom: 3px;
  color: #505668;
  fill: currentColor;
  vertical-align: text-bottom;
}
#scroll-section .basket {
  cursor: pointer;
}
#scroll-section .basket i {
  font-size: 25px;
  color: wheat;
  margin-top: 10px;
  transition: 0.5s;
}
#scroll-section .basket i:hover {
  color: #C05850;
  transition: 0.5s;
}
#scroll-section .basket i sup {
  padding: 4px 6px;
  color: #505668;
  background: wheat;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
  transition: 0.5s;
}
#scroll-section .basket i sup:hover {
  background: #C05850;
  transition: 0.5s;
}
#scroll-section .heart {
  cursor: pointer;
}
#scroll-section .heart i {
  font-size: 25px;
  color: wheat;
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.5s;
}
#scroll-section .heart i:hover {
  color: #C05850;
  transition: 0.5s;
}
#scroll-section .heart i sup {
  padding: 4px 5px;
  color: #505668;
  background: wheat;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
  transition: 0.5s;
}
#scroll-section .heart i sup:hover {
  background: #C05850;
  transition: 0.5s;
}
#scroll-section .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
#scroll-section .dropdown .drop-content {
  width: 114px !important;
}
#scroll-section .dropdown:hover .dropdown-content {
  display: block;
}
#scroll-section .dropdown .dropbtn {
  width: 114px;
  color: #505668;
  padding: 5px;
  font-size: 15px;
  height: 37px;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid wheat;
  background-color: whitesmoke;
  font-family: font6;
}
#scroll-section .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 100px;
  border-radius: 3px;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#scroll-section .dropdown .dropdown-content a {
  color: #505668;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  font-family: font6;
  display: block;
  transition: 0.3s;
}
#scroll-section .dropdown .dropdown-content a:hover {
  background-color: #505668;
  color: wheat;
  font-size: 17px;
}

@media (max-width: 1496px) {
  #scroll-section {
    display: none;
  }
}
@media (max-width: 1400px) {
  #navbar-area .search .input {
    width: 120px !important;
  }
}
@media (max-width: 1200px) {
  #navbar-area li {
    font-size: 20px !important;
    margin-left: 10px !important;
  }
  #navbar-area .search .input {
    width: 110px !important;
    height: 30px !important;
  }
  #navbar-area .search .my-btn {
    width: 45px !important;
    height: 30px !important;
  }
  #navbar-area .search .my-btn .search-icon {
    padding-bottom: 8px !important;
  }
  #navbar-area .dropbtn {
    width: 110px !important;
    height: 30px !important;
    padding-top: 2px !important;
  }
  #navbar-area .basket i,
#navbar-area .heart i {
    font-size: 22px !important;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
  #navbar-area .logo img {
    width: 100px !important;
    height: 60px;
  }
}
@media (max-width: 992px) {
  #navbar-area .dropdown .dropbtn {
    margin-top: 20px !important;
    margin-left: -10px !important;
  }
  #navbar-area .search {
    width: 200px !important;
  }
  #navbar-area .search .input {
    margin-left: 10px;
  }
  #navbar-area .basket {
    margin-top: 15px;
    margin-left: 10px;
  }
  #navbar-area .heart {
    margin-top: 15px;
  }
}
#header-area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#header-area .head {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-area .head h1 {
  position: absolute;
  font-size: 50px;
  color: whitesmoke;
  letter-spacing: 8px;
  font-family: font4;
}

#product-detail {
  padding-top: 50px;
  padding-bottom: 50px;
}
#product-detail .card-wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
#product-detail .card {
  background: whitesmoke;
}
#product-detail .product-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#product-detail img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}
#product-detail .img-display {
  overflow: hidden;
  width: 550px;
}
#product-detail .img-showcase {
  height: 600px;
  display: flex;
  width: 100%;
  transition: all 0.7s ease;
}
#product-detail .img-showcase img {
  min-width: 100%;
}
#product-detail .img-select {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}
#product-detail .img-item {
  width: 133px;
  height: 190px;
}
#product-detail .img-item img {
  width: 100%;
  height: 100%;
}
#product-detail .img-item:nth-child(1),
#product-detail .img-item:nth-child(2),
#product-detail .img-item:nth-child(3),
#product-detail .img-item:nth-child(4) {
  margin-right: 0;
}
#product-detail .img-item:hover {
  opacity: 0.7;
}
#product-detail .product-content {
  padding: 2rem 1rem;
}
#product-detail .product-title {
  text-transform: capitalize;
  font-family: font4;
  position: relative;
  color: #12263a;
  margin: 1.5rem 0 0;
}
#product-detail .product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: rgb(252, 199, 100);
}
#product-detail .product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  font-family: font4;
}
#product-detail .product-price .last-price {
  color: #505668;
}
#product-detail .product-price span {
  font-weight: 600;
}
#product-detail .last-price span {
  color: #C05850;
}
#product-detail .about-product h3 {
  text-transform: capitalize;
  font-family: font8;
  color: #12263a;
  padding-top: 0.6rem;
}
#product-detail .about-product p {
  font-size: 0.9rem;
  padding: 0.3rem 0;
  opacity: 0.8;
  font-family: font6;
  color: #12263a;
}
#product-detail .about-product ul {
  margin: 1rem 0;
  font-size: 0.9rem;
  padding-left: 0;
}
#product-detail .about-product ul li {
  margin: 0;
  list-style: none;
  background-size: 18px;
  margin: 0.4rem 0;
  font-weight: 700;
  opacity: 0.9;
}
#product-detail .about-product ul li span {
  font-weight: 450;
  font-size: 15px;
  font-family: font2;
  margin-left: 6px;
}
#product-detail .select-option {
  margin: 0 0 20px;
}
#product-detail .select-option label {
  font-weight: 700;
  opacity: 0.9;
  margin-right: 10px;
}
#product-detail .select-option .size {
  width: 115px;
  font-family: font3;
  color: #505668;
  border: 1px solid #505668;
  letter-spacing: 1px;
  border-radius: 3px;
}
#product-detail .select-option .size option {
  font-family: font3;
  font-size: 15px;
}
#product-detail .purchase-info {
  margin: 1.5rem 0;
}
#product-detail .purchase-info input {
  background-color: #505668;
  color: wheat;
  border-radius: 10px;
  text-align: center;
  padding: 0.45rem 0.3rem;
  outline: 0;
  margin-right: 0.2rem;
  width: 80px;
  border: none;
  font-family: font10;
}
#product-detail .purchase-info .my-btn {
  cursor: pointer;
  background: #505668;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem 0.8rem;
  outline: 0;
  border: none;
  color: wheat;
  font-family: font7;
  transition: 0.5s;
}
#product-detail .purchase-info .my-btn:hover {
  background: black;
  color: #C05850;
  transition: 0.5s;
}
#product-detail .social-links {
  display: flex;
  align-items: center;
}
#product-detail .social-links p {
  font-family: font7;
  margin-right: 10px;
  margin-bottom: 0;
}
#product-detail .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #505668;
  border: 1px solid #505668;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
#product-detail .social-links a:hover {
  background: #505668;
  border-color: transparent;
  color: wheat;
}
#product-detail .comment-area {
  padding-top: 20px;
}
#product-detail .comment-area h6 {
  line-height: 1.3;
  text-transform: uppercase;
  color: #505668;
  font-family: font7;
}
#product-detail .comment-area p {
  font-family: font6;
  font-size: 15px;
  color: #888;
  font-weight: lighter;
}
#product-detail .comment-area .text {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-bottom: 20px;
}
#product-detail .comment-area .text .text-area {
  width: 100%;
  font-size: 13px;
  padding: 15px 18px;
  color: #333;
  border: none;
  display: block;
  outline: none;
  overflow: auto;
  resize: none;
  font-family: font6;
}
#product-detail .comment-area .input-area {
  display: flex;
  justify-content: space-between;
}
#product-detail .comment-area .input-area .input {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  width: 250px;
  margin-bottom: 20px;
  display: inline-block;
}
#product-detail .comment-area .input-area .input input {
  width: 100%;
  height: 50px;
  font-size: 13px;
  line-height: 1.7;
  color: #333;
  padding-left: 18px;
  padding-right: 18px;
  font-family: font6;
  display: block;
  outline: none;
  border: none;
  overflow: visible;
}
#product-detail .comment-area .my-btn {
  display: block;
  border-radius: 20px;
  background: #505668;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  color: wheat;
  background: #505668;
  transition: 0.5s;
  font-family: font7;
}
#product-detail .comment-area .my-btn:hover {
  background: black;
  color: #C05850;
  transition: 0.5s;
}
#product-detail .comment-description {
  margin-top: 30px;
  padding: 20px;
  background-color: whitesmoke;
}
#product-detail .comment-description .comment-body {
  background-color: white;
  padding: 20px;
}
#product-detail .comment-description .comment-body h5 {
  font-family: font8;
  color: #505668;
}
#product-detail .comment-description .comment-body span {
  font-family: font6;
  font-size: 14px;
  color: #676666;
}
@media screen and (min-width: 992px) {
  #product-detail .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  #product-detail .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #product-detail .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #product-detail .product-content {
    padding-top: 0;
  }
}

#footer-area {
  background-color: #393e4c;
  padding: 90px;
}
#footer-area .info .w3rcontainer {
  border: 1px solid #cccfdb;
  border-radius: 2px;
}
#footer-area .info h6 {
  display: inline-block;
  position: relative;
  color: wheat;
  letter-spacing: 2px;
  font-family: font7;
  border: none;
  font-size: 20px;
}
#footer-area .info h6:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #C05850;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#footer-area .info h6:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#footer-area .info span {
  color: grey;
  display: block;
  font-family: font1;
}
#footer-area .info ul {
  padding-left: 0;
  line-height: 35px;
}
#footer-area .info ul li {
  list-style: none;
}
#footer-area .info ul li a {
  text-decoration: none;
  font-family: font1;
  transition: 0.3s;
  color: grey;
}
#footer-area .info ul li a:hover {
  color: #C05850;
}
#footer-area .info .social-area {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
#footer-area .info .social-area .social {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: wheat;
  transition: 0.5s;
}
#footer-area .info .social-area .social i {
  font-size: 20px;
  color: #505668;
  transition: 0.5s;
}
#footer-area .info .social-area .social:hover {
  background-color: #C05850;
  transition: 0.5s;
}
#footer-area .info .social-area .social:hover i {
  color: whitesmoke;
  transition: 0.5s;
}
#footer-area .info img {
  width: 70px;
  height: 67px;
  display: block;
}
#footer-area .info .contact a {
  margin-top: 25px;
  color: grey;
  display: block;
  text-decoration: none;
  transition: 0.5s;
  font-family: font1;
}
#footer-area .info .contact a:hover {
  color: #C05850;
  transition: 0.5s;
}
#footer-area .line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 20px 0;
}
#footer-area .copyright {
  color: grey;
  display: flex;
  justify-content: center;
}
#footer-area .copyright a {
  text-decoration: none;
  font-family: font1;
}

@media (max-width: 1150px) {
  #footer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .social {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=product-detail.css.map */